@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap');

:root {

    --color-primary: #fff;
    --color-black: black;
    --color-light: rgba(233, 109, 109, 0.904);
    --color-dark: #363949;
    --color-dark-variant: #677483;
    --color-primary-variant: #ff7782;
    --color-red: #D51717;
    --color-background: #bebec7;
}


/*--------------------BASE--------------------*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font: size 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    background: var(--color-primary);
    user-select: none;
    overflow-x: hidden;
    
}

.overside {
    font-size: 9px;
    font-weight: 100;
    text-align: center;
    background: var(--color-black);
    color: var(--color-primary);
    padding: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.container {
    padding-left: 10px;
    width:240px;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
    background: var(--color-primary);
    border-top-right-radius: 3px;
}

a {
    color: black;
}

img {
    display: block;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.85rem;
}

h4 {
    font-size: 0.8rem;
}

small {
    font-size: 0.75rem;
}

p {
    color: var(--color-dark)
}


/*--------------------header--------------------*/
.header-container {
    position: sticky;
    top: 0;
    width: 100%;
    z-index:1040;
    -webkit-backface-visibility: hidden;
    -webkit-transform: scale(1);
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
}

.header  {
    position: relative;
    display: flex;
    height: 8%;
    background: var(--color-primary);
    padding-bottom: 6px;
}

.header h1 {
    margin: auto;
    margin-top: 1px;
    color: black;
}

.header .right {
    position: absolute;
    display: flex;
    margin: 5px;
    padding-top: 9px;
    left: 77%;
    
}

.bannerimg {
    width: 100%;
}

.right .btn-login a {
    margin-right: 10px;
    color: var(--color-black);
}

.right .btn-shopping-cart a {
    margin-right: 10px;
    color: var(--color-black);
}

.btn-menu a {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    color: var(--color-black);
}

.title a {
    color: black;
}

/*----------------SIDEBAR-----------------*/
aside .sidebar {
    background: white;
    display: flex;
    flex-direction: column;
    height: 90vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-dark);
    margin-left: 15px;
    gap: 10px;
    align-items: center;
    position: relative;
    height: 45px;
    transition:  all 300ms ease;
}


aside .sidebar a.active {
    background: var(--color-primary);
    color: var(--color-primary-variant);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary-variant);
}

aside .sidebar a:hover {
    color: var(--color-dark);
    margin-left: 1.5rem;
}


aside {
    height: 100vh;
    
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    margin-right: 10px;
}

aside .logo {
    display: flex;
 
}

.container.on {
    position: absolute;
    top: 2rem;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.233);
    top: 1.97rem;
}
/*----------------BANNER-----------------*/

.banner {
    width: 100%;
}


/*----------------Seção de serviços-----------------*/

.service-items {
    display: flex;
    justify-content: center;
    padding: .5rem;
    background: rgb(220 220 220);
}

.service-items-block {
    display: flex;
    margin-left: 2rem;
    max-width: 300px;
    align-items: center;
}

.icon-service i {
    font-size: 3.5rem;
    padding: .4rem;
    font-weight: 100;
    color: gray;
}
.icon-service {
    border: 3px solid gray;
    border-radius: 100%;
    margin-right: 1rem;
}

/*----------------TITLE PRODUCT-----------------*/
.title-colecion {
    text-align: center;
    padding: 10px;
}

.title-colecion h1 {
    font-size: 1.4rem;
}

/*----------------CARD PRODUCT-----------------*/


.container-product {
    display: flex;
    justify-content: center;
    align-items: right;
    height: 50vh;
}

.products {
    width: 200px;
    height: 260px;
    border-radius: 2rem .5rem;
    padding: 1rem 3.2rem 0;
    color: var(--color-black);
    overflow-y: hidden;
}

.products .img {
    width: 100px;
    position: absolute;
    filter: drop-shadow(5px 10px 15px rgb(8,9,13,.4));
}

.product-data {
    transform: translateY(9rem);
    text-align: initial;
}

.product-title {
    font-size: .8rem;
    color: var(--color-black);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.product-price {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .4rem;
}

.product-price:hover {
    color: rgb(54, 139, 51);
}

.product-description {
    font-size: .5rem;
    text-align: center;
    margin-bottom: .4rem;
    opacity: 0;
}

.product-btn {
    display: block;
    width: max-content;
    padding: 0.7rem 1.2rem;
    background: var(--color-dark);
    color: var(--color-primary);
    border-radius:.5rem;
    font-weight: 500;
    transition: .2s;
    opacity: 0;
}

.product-btn:hover {
    box-shadow: 0 18px 40px -12px rgba(242, 162, 12, .35);
}


.products .img,
.product-data,
.product-title,
.product-price,
.product-description{
    transition: .5s;
}


.products:hover .img {
    transform: translate(-1.5rem, -3rem) rotate(-20deg);
}

.products:hover .product-data {
    transform: translateY(4.8rem);
}

.products:hover .product-title {
    transform: translateX(-2.7rem);
    margin-bottom: 0;
}

.products:hover .product-price {
    transform: translateX(-2.7rem);
}

.products:hover .product-description,
.products:hover .product-btn {
    transition-delay: .1s;
    opacity: 1;
    transform: translateX(-2.7rem);
}
 

/*----------------CARD PRODUCT-----------------*/

.card-content {
    width: 100%;
    height: 340px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-content img {
    max-width: 100%;
    height: auto;
    margin: auto;
    filter: drop-shadow(5px 5px 8px rgb(8,9,13,.4));
    border-radius: 0.7rem 0.7rem 0 0
}

.card {
    width: 200px;
    height: 300px;
    background-color: var(--color-primary);
    text-align:center;
    border-radius:  20px;
    align-items: center;
    justify-content: space-between;
    box-sizing:  border-box;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
}

.card:hover {
    background-color: var(--color-background);
    transform-style: preserve-3d; 
    transform: scale(1);
    transition: all ease 0.2s;
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.356);
}

.product-desc {
    font-size: .6rem;
    margin-bottom: 4px;
}

.x:hover {
    color: var(--color-red);
}

.secao-cards {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-cards {
    width: 370px;
    height: 410px;
    margin: 1.5rem;
    overflow:hidden;
    border-radius: 1.3rem;
    position:relative;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.10);
}

.img-card {
    width: 100%;
    height: 100%;
    border-radius: 1.3rem;
    transition: all 1s;
}
.img-card:Hover {
    transition: 700ms;
    transform: scale(1.1);
    /* -webkit-filter: blur(5px); */
    filter: grayscale(60%);
}

.textbanner {
    position:absolute;
    top: 50%;
    left: 50%;
    color:white;
    transform: translate(-50%, -50%);
}

.textbanner h2 {
    font-weight: 700;
}

.btn {
    border-radius: 1rem;
    border: 1px solid white;
    text-align:center;
    padding:.3rem;
    margin-top: .3rem;
    font-size:.6rem;

}

.politicas {
    padding: 2rem;
}


.politicas .politicas-col{
    padding: 2rem;
    max-width: 50%;
}

.politicas .politicas-col li{
    padding:  1rem 0 1rem 0;
    font-weight: bold
}

.politicas .politicas-col p{
    padding:  1rem 0 1rem 0;
}

.btn-finalizar-ped {
    display:flex;
    justify-content:center;
}

.btn-finalizar-ped .btn-buy{
    font-size: 1rem;
    color: white;
    font-weight:bold;
    background-color: rgb(15 83 72);
    padding: 1.2rem 3rem;
    margin-bottom: 1rem;
}


/*----------------footer start-----------------*/
footer {
    width: 100%;
    text-align: center;
    bottom: 0;
    margin-top: 2rem;
}

.footer-init {
    background: black;
    color: white;
    padding: 4rem;
}

.img-logo img {
    margin-left: 1.5rem;
    padding-top: 2rem;

}

.img-logo p {
    margin-left: 1.5rem;
    margin-top: 1rem;
    text-align: left;
    color: white;
    font-weight: 100;
    font-size:.9rem;
}

.footer-infos {
    color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info {
    margin: 1rem;
}

.info h3 {
    color:white;
    text-align: left;
}
.info p {
    color:white;
    text-align: left;
    padding: .3rem;
}



footer .midiass {
    position: absolute;
    width: 100%;
    height: 100px;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--primary-color-light);  
}

.h3foot {
    font-size: 1rem;
    font-family: arial,sans-serif;
    padding-top: 7px;
}

.social-list {
    list-style: none;
    display: flex;
}

.social-list li {
    margin: 5px;
}

.social-list a {
    text-decoration: none;
    color: var(--color-dark);
}

.social-list a i {
    font-size: 1.7rem;
    transition: var(--color-primary);
}

.social-list a:hover i {
    color: var(--color-red)
}

footer .copy {
    width: 100%;
    font-size: 0.7rem;
    color: var(--primary-color-light);
    font-family: arial,sans-serif;
}

/*--------------------- footer end -------------------*/

/*--------------------media caries--------------------*/
@media (min-width: 769px) {
    aside {
        display: none;
    }
    .btn-menu {
        width: 40px;
        position: absolute;
        margin-left: -25px;
        top: 2.3rem;
    }

    /*sidebar open*/
    .container.on {
        position: absolute;
        top: 1;
        left: 0;

        width: 20vw;
        height: 100vh;

        z-index: 10;
    }

    .container.on aside {
        display: block;
    }

    .container.on .btn-menu {
        position: absolute;
        right: 0;
        padding-right: 50px;
        padding-top: 5px;
        top: 1px;
    }

    .footer-init {
        background: black;
        color: white;
        display:flex;
    }

    .politicas {
        padding: 2rem;
        display:flex
    }



}

@media (max-width: 950px) {
    .container-cards {
        width: 210px;
        height: 260px;
        margin: 2rem;
        overflow:hidden;
        border-radius: 1.3rem;
    }

    .service-items-block:last-of-type {
        display:none;
    }
}


@media (max-width: 768px) {
    aside {
        display: none;
    }
    .btn-menu {
        width: 40px;
        position: absolute;
        margin-left: -25px;
        top: 2.3rem;
    }

    /*sidebar open*/
    .container.on {
        position: absolute;
        top: 1;
        left: 0;

        width: 30vw;
        height: 100vh;

        z-index: 10;
    }

    .container.on aside {
        display: block;
    }

    .container.on .btn-menu {
        position: absolute;
        right: 0;
        padding-right: 50px;
        padding-top: 3px;
        top: 1px;
    }

    /*card-pruduct*/
    
    .product-price {
        font-size: 14px;
    }
    .container-cards {
        width: 250px;
        height: 300px;
        margin: 2rem;
        overflow:hidden;
        border-radius: 1.3rem;
    }

    .politicas .politicas-col{
        padding: .5rem;
        max-width: 100%;
    }


}

@media (max-width: 460px) {
    aside {
        display: none;
    }

    .btn-menu {
        width: 40px;
        position: absolute;
        margin-left: -25px;
        top: 2.2rem;
    }

    /*sidebar open*/
    .container.on {
        position: absolute;
        top: 1;
        left: 0;
        

        width: 77vw;
        height: 100vh;

        z-index: 10;
    }

    .container.on aside {
        display: block;
    }

    .container.on .btn-menu {
        position: absolute;
        right: 0;
        padding-right: 45px;
        top: 1px;
    }

    .card-content {
        width: 100%;
        height: 340px;
        background-color: var(--color-primary);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .card-content img {
        max-width: 100%;
        height: auto;
        margin: auto;
        filter: drop-shadow(5px 10px 15px rgb(8,9,13,.4));
    }
    
    .card {
        width: 160px;
        height: 275px;
        background-color: var(--color-primary);
        text-align:center;
        border-radius:  20px;
        box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.356);
        align-items: center;
        justify-content: space-between;
        box-sizing:  border-box;
    }
    .container-cards {
        width: 290px;
        height: 340px;
        margin: 2rem;
        overflow:hidden;
        border-radius: 1.3rem;
    }

    .service-items-block {
        font-size:.7rem;
    }
    .service-items-block .icon-service i {
        font-size:2.5rem;
    }

    .footer-init {
        background: rgb(0 0 0);
        color: rgb(255 255 255);
    }

    .footer-infos {
        color: rgb(255 255 255);
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        padding-left: 1rem;
    }

}