@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap');

:root {

    --color-primary: #fff;
    --color-black: black;
    --color-light: rgba(233, 109, 109, 0.904);
    --color-dark: #363949;
    --color-dark-variant: #677483;
    --color-primary-variant: #ff7782;
    --color-background: #bebec7;


}

/*--------------------BASE--------------------*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font: size 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    background: var(--color-primary);
    user-select: none;
    overflow-x: hidden;
}

/*--------------------Main--------------------*/
.registerbox {
    height: 100vh;
    margin: auto;
    width: 90%;

}

label {
    font-weight: 600;
    font-size: 0.84rem;
}

.text-information {
    text-align: center;
    padding-bottom: 20px;
}

.dados{
    width: 100%;
    height: 30px;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid rgb(190, 185, 185);
    border-radius: 2px;
    padding: 7px;
    background-color: transparent;
}


.dadosp {
    background-color: #c8c8ce;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

.dadosp h2 {
    font-weight: 300;
    padding: 5px;
    text-align: center;
}

.button {
    width: 100%;
    text-align: center;

}

.txtbutton {
    text-align: center;
}

footer {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
}

@media (min-width: 768px) {
    .registerbox {
        width: 550px;
        height: 60vh;
        margin: auto;
    }

}