@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap');

:root {

    --color-primary: #fff;
    --color-black: black;
    --color-light: rgba(233, 109, 109, 0.904);
    --color-dark: #363949;
    --color-dark-variant: #677483;
    --color-primary-variant: #ff7782;
    --color-background: #bebec7;
}


/*--------------------BASE--------------------*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font: size 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    background: var(--color-primary);
    user-select: none;
    overflow-x: hidden;
}


/*--------------------ITENS--------------------*/

img {
    max-width: 90%;
    height: auto;
    filter: drop-shadow(5px 10px 15px rgb(8,9,13,.4));
}

.title-colecion {
    font-size: 1.5em;
    font-weight: 600;
}

.container-catalogo {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap; /*para delimitar a quantidade de intes na div e quebrar para linha de baixo*/
}

.shirts-item {
    align-items: center;
    width: 180px;
    height: 240px;
    background-color: var(--color-primary);
    margin: 10px;
    border-radius: 2rem .5rem;
    box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.356);
    justify-content: space-between;
    box-sizing:  border-box;
    flex-direction: column;
    text-align:center;
    padding-bottom:10px;
}


.shirts-item:hover {
    background-color: var(--color-background);
    transform-style: preserve-3d; 
    transform: scale(1);
    transition: all ease 0.2s;
}

.description {
    font-size: .6rem;
    margin-bottom: 4px;
    color: var(--color-dark-variant);
}









@media (max-width: 460px) {
    .title-colecion {
        font-weight: 500;
    }
    .container-catalogo {
        display: flex;
        width: 95%;
        margin: auto;
        flex-wrap: wrap;
    }
    .shirts-item {
        width: 42%;
        height: auto;
    } 

    .shirts-item-desc {
        font-size: .3rem;
        padding: 0 2px;
    }
    }